.divcontatos{
    max-width: 100%;
    height: auto;
}

img{
    height: 3rem;
}

img:hover{
    height: 4rem;
}

.div-figuras{
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 1.2rem;
}