.div-center {
    display: flex;
    height: 30rem;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.div-content {
    height: 30rem;
    align-items: center;
    background-image: linear-gradient(white 5%, #0477FE 15%, white 90%);
    width: 70vw;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #000000;
}