<div  class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Quem Somos?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Fundada em 2020, a instituição Happy Help começou atuando por meio de grupos de
                mensagens,onde ocorria todo o processo de contato entre os voluntários para realizar as doações.Visto
                que existe um grande volume de pessoas que necessitam de ajuda, a instituição teve a ideia de criar um
                site para melhor atender os necessitados.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                A instituição
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                Happy Help é uma instituição sem fins lucrativos que tem como foco, formar uma
                rede solidária atuando atráves de doações.Sejam elas de roupas,alimentos,móveis ou de forma financeira
                com o valor que o doador desejar.Sendo assim, todo o processo de doação passa por nossos voluntários
                antes de chegar ao necessitado.Tudo isso para realizarmos uma doação de forma segura.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Como atuamos?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                Você pode ser tornar um voluntário da instituição Happy Help, realizando o
                cadastro no site, onde você optar por ser um doador e assim então ajudando quem mais precisa.Sendo assim
                você se tornando um doador, passará a participar de todo o processo de triagem das doações.
                Alimentos,roupas,móveis,eletrodomésticos,financeiro e entre outras doações.Os alimentos são separados e
                feitos os kits conforme a quantidade de pessoas que tem na família a qual esse kit será doado. O
                processo das roupas é feito uma seleção e higienização, e os alimentos passam por uma verificação no
                prazo de validade, tudo isso para a segurança do necessitado.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                Missão
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                Você pode ser tornar um voluntário da instituição Happy Help, realizando o
                cadastro no site, onde você optar por ser um doador e assim então ajudando quem mais precisa.Sendo assim
                você se tornando um doador, passará a participar de todo o processo de triagem das doações.
                Alimentos,roupas,móveis,eletrodomésticos,financeiro e entre outras doações.Os alimentos são separados e
                feitos os kits conforme a quantidade de pessoas que tem na família a qual esse kit será doado. O
                processo das roupas é feito uma seleção e higienização, e os alimentos passam por uma verificação no
                prazo de validade, tudo isso para a segurança do necessitado.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFive">
                Valores
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
                Você pode ser tornar um voluntário da instituição Happy Help, realizando o
                cadastro no site, onde você optar por ser um doador e assim então ajudando quem mais precisa.Sendo assim
                você se tornando um doador, passará a participar de todo o processo de triagem das doações.
                Alimentos,roupas,móveis,eletrodomésticos,financeiro e entre outras doações.Os alimentos são separados e
                feitos os kits conforme a quantidade de pessoas que tem na família a qual esse kit será doado. O
                processo das roupas é feito uma seleção e higienização, e os alimentos passam por uma verificação no
                prazo de validade, tudo isso para a segurança do necessitado.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseSix">
                Premissa
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
                Você pode ser tornar um voluntário da instituição Happy Help, realizando o
                cadastro no site, onde você optar por ser um doador e assim então ajudando quem mais precisa.Sendo assim
                você se tornando um doador, passará a participar de todo o processo de triagem das doações.
                Alimentos,roupas,móveis,eletrodomésticos,financeiro e entre outras doações.Os alimentos são separados e
                feitos os kits conforme a quantidade de pessoas que tem na família a qual esse kit será doado. O
                processo das roupas é feito uma seleção e higienização, e os alimentos passam por uma verificação no
                prazo de validade, tudo isso para a segurança do necessitado.
            </div>
        </div>
    </div>
</div>