.navbar{
    background-color: #7097FC;
    box-shadow: 0.1rem 0.2rem 0.5rem #000000;
    opacity: 0.8;
}

footer{
    width: 100vw;
    height: 15rem;
    background-image: linear-gradient(white 5%, #000000 40%);
}

a{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}