<app-header-component></app-header-component>
<app-carousel-component></app-carousel-component>
<div class="div-centralizador d-flex">
  <div class="div-conteudo">
    <div class="div-cards-conteudo">
      <app-cards-component></app-cards-component>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="bggradient p-4">
  <div class="container">
    <app-tab-component></app-tab-component>
    <router-outlet name="outlet2"></router-outlet>
  </div>
</div>
<app-footer-component></app-footer-component>