<div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/istockphoto-1217752899-170667a.jpg" class="d-block w-100" alt="Doe">
                <div class="carousel-caption d-none d-md-block fs-4">
                    <h5 >Faça parte dessa equipe e ajude centenas de pessoas.</h5>
                    <p >Para doar entre em contato com nossos estabelecimentos parceiros.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/toa-heftiba-_UIVmIBB3JU-unsplash.jpg" class="d-block w-100" alt="Ajude">
                <div class="carousel-caption d-none d-md-block fs-4">
                    <h5 >Faça parte dessa equipe e ajude centenas de pessoas.</h5>
                    <p >Para doar entre em contato com nossos estabelecimentos parceiros.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets\joe-holiday-dOZVUW7Bu00-unsplash.jpg" class="d-block w-100" alt="Contribua">
                <div class="carousel-caption d-none d-md-block fs-4">
                    <h5>Faça parte dessa equipe e ajude centenas de pessoas.</h5>
                    <p>Para doar entre em contato com nossos estabelecimentos parceiros.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
