.card-footer {
    display: flex;
    text-align: center;
}

.card {
    box-shadow: 0.1rem 0.1rem 0.1rem #000000;
}

.progress{
    margin-bottom: 0.6rem;
}

.info-footer{
    width: 100%;
}

img{
    height: 10rem;
}